:root{
    --texto: rgb(120, 119, 119); 
    --fuente: PT sansb; 
}
.nav{
    border: 1px solid rgb(65, 179, 4);
    /* height: 200px; */
}
.nav__list{
    border: 1px solid violet;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--fuente);
}
.nav__item{
    border: 1px solid rgb(130, 238, 153);
    font-size: 1.2rem;
    margin: 20px;
    height: 20px;
}
.nav__link{
    text-decoration: none;
    color: var(--texto);
    font-variant: small-caps;
    
}

.nav__link:hover{
    text-decoration: underline;
}