body{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
:root{
    --texto: aliceblue; 
    --fuente: Nunito; 
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}
.nav{
    height: 380px;
}
.nav__list{

    list-style-type: none;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--fuente);
    padding: 0;
}
.nav__item{
    border: 1px solid rgb(83, 83, 83);
    background-color:rgb(83, 83, 83);
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.nav__link{
    text-decoration: none;
    color: var(--texto);
    font-variant: small-caps;
    
}

.nav__link:hover{
    text-decoration: underline;
}

.encabezado{
    position: fixed;
    background-color: rgb(49, 49, 49);
    top: 0px;
    left: 50px;
    min-height: 100vh;
    max-width: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.encabezado__capa{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.encabezado__img{
    width: 100px;
    height: 100px;

}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.encabezado__nombre{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    font-family: var(--fuente);
    color: var(--texto);
}
.nombre{
    font-size: 2rem;
    
}
.subnombre{
    font-size: 1rem;
}

/*MAIN*/
.contenido{
    border: 1px solid green;
    min-height: 100vh;
    max-width: 90vw;
    margin: 0 5rem 0 27rem;
    font-family: var(--fuente);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--texto);
}
.inicio{
    border: 1px solid pink;
    height: 32vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding: 30px;
    margin-top: 20vh;
    
}
.subtitle{
    color: rgb(168, 109, 0);
}
.button{
    border: 1px solid black;
    background-color:rgb(83, 83, 83);
    width: 6vw;
    height: 3vh;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
   
}
.button__a{
    color: var(--texto);
    text-decoration: none;
    margin-right: 5px;
    
}
.fas{
    color: rgb(168, 109, 0);
}

.button__a:hover{
    color: black;
    
}

.button:hover>.fas{
    color: black;
    
}
.button:hover{
    background-color:rgb(168, 109, 0);
}
/*SOBRE MI*/
.sobremi{
    border: 1px solid pink;

}





